In [1]:
import pandas as pd
import os
import sys

In [2]:
df_sfz=pd.read_excel("C:\\lishan\\venv_and_code\\lcbt2024\\data\\处理结果.xlsx",dtype=object)

In [3]:
df_sfz.columns

Index(['合同号', '客户身份证号码', '客户姓名名称', '贷款业务品种', '贷款发放额度', '户籍所在地', '户籍地址',
       '利率浮动值', '是否执行先收后返', '贷款执行利率', '2022年12月末', '2023年1月末', '2023年2月末',
       '2023年3月末', '2023年4月末', '2023年5月末', '2023年6月末', '2023年7月末', '2023年8月末',
       '2023年9月末', '2023年10月末', '2023年11月末', '2023年12月末', '全年贷款平均余额',
       '上年度的贷款利差补贴', '实际获得金额', '贷款品种五级', '额度合同号'],
      dtype='object')

In [4]:
df_sfz["客户身份证号码"].is_unique

False

In [5]:
ser=df_sfz["客户身份证号码"].unique()
ls_sfz=ser.tolist()
#完成了身份证号码的列表的构造，并且其中不好任何重复值。

In [6]:
type(ser)

numpy.ndarray

In [7]:
len(ls_sfz)
#一共有多少人贷款？

618

In [8]:
os.getcwd()

'C:\\lishan\\venv_and_code\\lcbt2024\\code'

In [9]:
dir_list = os.listdir('C:\\lishan\\venv_and_code\\lcbt2024\\data')
print(dir_list)
#获取指定目录下的所有文件和文件夹

['202212即期.xlsx', '202301即期.xlsx', '202302即期.xlsx', '202303即期.xlsx', '202304即期.xlsx', '202305即期.xlsx', '202306即期.xlsx', '202307即期.xlsx', '202308即期.xlsx', '202309即期.xlsx', '202310即期.xlsx', '202311即期.xlsx', '2023年度个贷业务利差补贴明细表.xlsx', 'output', '利差程序逻辑.txt', '处理结果.xlsx']

In [10]:
sfzhm=ls_sfz[0]

In [11]:
sfzhm

'542123199006015413'

In [12]:
tf=df_sfz["客户身份证号码"]==sfzhm

In [13]:
tf

0       True
1      False
2      False
3      False
4      False
       ...
678    False
679    False
680    False
681    False
682    False
Name: 客户身份证号码, Length: 683, dtype: bool

In [14]:
df_sfz2=df_sfz.loc[tf==True,:]

In [15]:
df_sfz2.shape

(1, 28)

In [16]:
#for sfzhm in ls_sfz:
#    tf=df_sfz["客户身份证号码"]==sfzhm
#    df_sfz2=df_sfz.loc[tf==True,:]
#    with pd.ExcelWriter("C:\\lishan\\venv_and_code\\lcbt2024\\data\\output\\split\\{}.xlsx".format(sfzhm)) as writer:
#        df_sfz2.to_excel(writer, sheet_name="身份证号码",startrow=0, startcol=0, index=True, header=True,na_rep="<NA>", inf_rep="<INF>")
#构造创建文件的路径，使用变量创建文件,特别注意format方法的使用

In [17]:
for sfzhm in ls_sfz:
    tf=df_sfz["客户身份证号码"]==sfzhm
    df_sfz2=df_sfz.loc[tf==True,:]

In [18]:
df_sfz2.columns

Index(['合同号', '客户身份证号码', '客户姓名名称', '贷款业务品种', '贷款发放额度', '户籍所在地', '户籍地址',
       '利率浮动值', '是否执行先收后返', '贷款执行利率', '2022年12月末', '2023年1月末', '2023年2月末',
       '2023年3月末', '2023年4月末', '2023年5月末', '2023年6月末', '2023年7月末', '2023年8月末',
       '2023年9月末', '2023年10月末', '2023年11月末', '2023年12月末', '全年贷款平均余额',
       '上年度的贷款利差补贴', '实际获得金额', '贷款品种五级', '额度合同号'],
      dtype='object')

In [19]:
df_sfz2=df_sfz2.T

In [20]:
df_sfz2=df_sfz2.reindex(['客户身份证号码', '合同号',  '客户姓名名称', '贷款业务品种', '贷款发放额度', '户籍所在地', '户籍地址',
       '利率浮动值', '是否执行先收后返', '贷款执行利率', '2022年12月末', '2023年1月末', '2023年2月末',
       '2023年3月末', '2023年4月末', '2023年5月末', '2023年6月末', '2023年7月末', '2023年8月末',
       '2023年9月末', '2023年10月末', '2023年11月末', '2023年12月末', '全年贷款平均余额',
       '上年度的贷款利差补贴', '实际获得金额', '贷款品种五级', '额度合同号'])

In [21]:
tuple_indivi=df_sfz2.shape

In [22]:
tuple_indivi

(28, 1)

In [23]:
tuple_indivi[1]

1

In [24]:
if tuple_indivi[1]>=1:
    df_sfz2["合并"]="NaN"  #添加一个新的列用于存放每行合并后的数据
    dict_hb=set()
    sum=0
    for row in range(tuple_indivi[0]):
        dict_hb.clear()
        for col in tuple_indivi[1]:
            dict_hb.add(df_sfz2.iloc[row,col])
        ls_hb=list(dict_hb)
        str_hb=str(ls_hb)
        col_end=tuple_indivi[1]-1
        df_sfz2.iloc[row,end]=str_hb 
#将每行的元素都放入一个集合中，再将集合转换为字符串写入对应的“合并”单元格中。

TypeError: 'int' object is not iterable

In [ ]:
df_sfz2

In [ ]:
df_sfz2

In [ ]:
df_sfz2.columns

In [ ]:
df_sfz2.loc["客户身份证号码","合并"]=df_sfz2.iloc[0,0]

In [ ]:
df_sfz2

In [ ]:
dict_hb=set()
sum=0
for row in range(tuple_indivi[0]):
    dict_hb.clear()
    for col in tuple_indivi[1]:
        dict_hb.add(df_sfz2.iloc[row,col])
    ls_hb=list(dict_hb)
    str_hb=str(ls_hb)
    col_end=tuple_indivi[1]-1
    df_sfz2.iloc[row,end]=str_hb

In [25]:
df_sfz2

                              681   合并
客户身份证号码        612327197503270015  NaN
合同号               702000002501000  NaN
客户姓名名称                        任照华  NaN
贷款业务品种                    个人消费类贷款  NaN
贷款发放额度                    1000000  NaN
户籍所在地                   陕西省汉中市略阳县  NaN
户籍地址        陕西省略阳县高台路3号2号楼2单元3楼1号  NaN
利率浮动值                        -1.6  NaN
是否执行先收后返                        否  NaN
贷款执行利率                       2.25  NaN
2022年12月末                  800000  NaN
2023年1月末                   800000  NaN
2023年2月末                   800000  NaN
2023年3月末                   800000  NaN
2023年4月末                   800000  NaN
2023年5月末                   700000  NaN
2023年6月末                   700000  NaN
2023年7月末                   700000  NaN
2023年8月末                   700000  NaN
2023年9月末                   700000  NaN
2023年10月末                  700000  NaN
2023年11月末                  700000  NaN
2023年12月末                       0  NaN
全年贷款平均余额            708333.333333  NaN
上年度的贷款利差补贴           14166.666667  NaN
实际获得金额               14166.666667  NaN
贷款品种五级              大额耐用消费品贷款（中期）  NaN
额度合同号                         NaN  NaN